@model VaccineManagement.Models.ResetPassword

@{
    ViewData["Title"] = "Reset Password";
}
<div id="fh5co-page">
    <!-- Navbar -->
    <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
        <nav id="fh5co-main-menu" role="navigation">
            <div class="head-nav">
                <h4 class="head-nav-altteam"> ALT TEAM </h4>
                <hr class="head-nav-hr">
                <img class="head-nav-img" alt="logo" src="/images/injection-blood-medicine-care-treatment-hospital-recovery-36121.png">
                <h3 class="head-nav-vaccination"><a asp-action="Index" asp-controller="Home">VACCINATION MANAGEMENT</a></h3>
                <partial name="_GreetingPartial">
            </div>
            <div class="fh5co-main-menu-nav">NAVIGATION</div>
            <ul class="fh5co-main-menu-nav-ul">
                <li class="fh5co-main-menu-nav-item">
                    <i class="fas fa-home"></i>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="fh5co-main-menu-nav-item">
                    <i class="fas fa-user-plus"></i>
                    <a class="vaccine-regis" asp-action="Index" asp-controller="Registration">Vaccine registration</a>
                </li>
                <li class="fh5co-main-menu-nav-item">
                    <i class="fas fa-edit"></i>
                    <a class="fh5co-main-menu-nav-white" asp-action="Index" asp-controller="Declaration">Health declaration</a>
                </li>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-item-search accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" style="width: auto" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <i class="fas fa-search"></i>
                                Search
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse in" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="option-search-inject fh5co-main-menu-nav-search-opt-a1">
                                    <a asp-action="Index" asp-controller="SearchCertificate">Obtain your Covid-19 vaccine certificate</a>
                                </div>
                                <div class="option-search-inject2 fh5co-main-menu-nav-search-opt-a2">
                                    <a asp-action="Index" asp-controller="SearchRegistration">Look up injection registration</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="login-pls fh5co-main-menu-nav-item">
                    <partial name="_LoginPartial">
                </li>
            </ul>
        </nav>
        <div class="fh5co-footer">
            <a class="fh5co-footer-help" href="">Need help?</a>
            <div class="fh5co-footer-contact">
                <p>+84 356798098</p>
                <p>altteam.help@gmail.com</p>
            </div>
        </div>
    </aside>
    <!-- End of navbar -->

    <!--Reset Password Form-->
    <div class="search-user-main" data-animate-effect="fadeInLeft">
		<div class="search-main-wrapper" style="display:block">
			<div class="search-main" style="height: auto; margin: 150px 300px 50px;" data-animate-effect="fadeInLeft">
						
				<form method="post" id="ResetPasswordForm" asp-action="ResetPassword" asp-controller="UserAuth" 
                 class="search-look-up search-main-main-2 search-main-main-4">
                    
					<span class="search-main-main-title">Reset Password</span>

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="Token" name="Token" type="hidden" />
                    <input asp-for="Email" name="Email" type="hidden" />

					<div class="search-main-main-input" style="display: block">
						<div class="search-main-full-name">
							<div class="search-main-full-name-text" style="text-align: left">
								<span>Password</span>
								<span class="search-main-full-name-text-required">(*)</span>
							</div>
							<input asp-for="Password" name="Password" class="blue-input-form" type="text" placeholder="Enter your password" required>
						    <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
						<div class="search-main-full-name">
							<div class="search-main-full-name-text" style="text-align: left">
								<span>Confirm Password</span>
								<span class="search-main-full-name-text-required">(*)</span>
							</div>
							<input asp-for="ConfirmPassword" name="ConfirmPassword" class="blue-input-form" type="text" placeholder="Confirm your password ..." required>
						    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
						<div class="search-main-code-text-note" style="margin-top: 2rem"><b>Note:</b> Some note here ...!</div>
					</div>

					<div class="btn-green-hover search-main-btn">
						<input id="resetPassword" name="resetPassword" class="btn-green-hover search-main-btn-2" type="button" value="Reset"/>
						<i  class="search-main-btn-i fas fa-search"></i>
					</div>
				</form>	
			</div>
		</div>
	</div>

</div>

@section Scripts {
    @{ 
        await Html.RenderPartialAsync("_AuthScriptsPartial");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}