@model VaccineManagement.Models.Entities.City

@{
    Layout = "_CRUDLayout";
}

<div id="fh5co-main">
    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-header">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">City</h2>
            <div class="fh5co-heading-search">
                <i class="fas fa-search"></i>
                <input class="fh5co-heading-search-put animate-box" type="text" placeholder="Search" data-animate-effect="fadeInLeft">
            </div>
        </div>
    </div>
</div>

<!--Main Section-->
<!--Create-->
<div id="fh5co-main">
    <div class="fh5co-head-create-new" data-animate-effect="fadeInLeft">
        <div class="fh5co-head-create" data-animate-effect="fadeInLeft">
            <span>@(Model.cityId !=0 ? "Edit" : "Create New")</span>
            <span class="fh5co-head-create-desc">@(Model.cityId !=0 ? "Please edit your city information !!" : "Please enter new city !!")</span>
        </div>

        <form method="post" class="fh5co-body-create" data-animate-effect="fadeInLeft">
            <div class="fh5co-body-create-line-and-vaccine">
                <div class="fh5co-body-create-line">

                </div>
                <div class="fh5co-body-create-vaccine" data-animate-effect="fadeInLeft">
                    @if (Model.cityId != 0)
                    {
                        <input type="hidden" asp-for="cityId" />
                    }
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="fh5co-body-create-row">
                        <span>City</span>
                        <div class="fh5co-body-edit-item">
                            <input asp-for="cityName" type="text" placeholder="Enter value">
                            <span asp-validation-for="cityName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="fh5co-body-create-btn">
                <button type="submit" class="btn-green-hover">@(Model.cityId !=0 ? "Edit" : "Create" )</button>
                <button type="button" class="fh5co-body-create-btn-cancel btn-white-hover"><a asp-action="Index" asp-controller="Cities">Back</a></button>
            </div>
            <div class="fh5co-body-create-backlist lead-2">

            </div>

        </form>
    </div>


</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}