@{
    Layout = "_CRUDLayout";
}

<!--Main Section-->
<div id="fh5co-main">
    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-header">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Vaccine Batch</h2>
            <div class="fh5co-heading-search">
                <i class="fas fa-search"></i>
                <input class="fh5co-heading-search-put animate-box" type="text" placeholder="Search" data-animate-effect="fadeInLeft">
            </div>
        </div>
        <div class="create-table-all" data-animate-effect="fadeInLeft">
            <div class="create-vaccine" data-animate-effect="fadeInLeft">
                <a asp-action="UpSert" asp-controller="Batch"><button class="fh5co-head-create-chuyen btn-green-hover">CREATE NEW</button></a>
            </div>
            <!--Table-->
            <div class="table-section">
                <table id="DT_load_vbatch" class="table table-striped table-bordered table-hover" width="100%" data-animate-effect="fadeInLeft">
                    <thead>
                        <tr class="vaccine-table-color" data-animate-effect="fadeInLeft">
                            <th>Batch ID</th>
                            <th>Vaccine</th>
                            <th>ImportedDate</th>
                            <th>Quantity</th>
                            <th>ProducedDate</th>
                            <th>ExpiredDate</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!--End-->

        </div>
     </div>
</div>
@section Scripts {
     <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.5/dataRender/datetime.js"></script>
}
