@model VaccineManagement.Models.ForgotPassword

<!--Forgot Password-->
<div class="vaccine-delete forgot-password-sure" data-animate-effect="fadeInLeft">
	<div class="vaccine-delete-header">
		<span>Forgot password?</span>
		<i class=" out-delete-vaccine forgot-password fas fa-times"></i>
	</div>

	<div id="alert_placeholder_forgotPassword">
	</div>

	<div class="vaccine-delete-question">
	Please enter your email address or mobile number to search your account.
	</div>
	<form id="ForgotPasswordForm" method="post" asp-controller="UserAuth" asp-action="ForgotPassword">
		<div asp-validation-summary="All" class="text-danger"></div>
		<input asp-for="Email" name="Email" class="forgot-password-input" type="text" placeholder="Enter your Email ..." required >
		<span asp-validation-for="Email" class="text-danger"></span>

		<div class="vaccine-delete-button-1">
			<button name="cancel" type="button" class="out-cancel-vaccine out-cancel-forgot" >Cancel</button>
			<button id="forgotPassword" name="forgotPassword" type="button" class="vaccine-delete-button-1-hover">Submit</button>
		</div>
	</form>	
				
</div>