@{
    Layout = "_CRUDLayout";
}

<!--Main Content-->
<div id="fh5co-main" data-animate-effect="fadeInLeft">
    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-header">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">ANAMNESIS</h2>
            <div class="fh5co-heading-search">
                <i class="fas fa-search"></i>
                <input class="fh5co-heading-search-put animate-box" type="text" placeholder="Search" data-animate-effect="fadeInLeft">
            </div>
        </div>
        <div class="create-table-all" data-animate-effect="fadeInLeft">
            <div class="create-vaccine" data-animate-effect="fadeInLeft">
                <a asp-action="UpSert" asp-controller="Anamnesis"><button class="fh5co-head-create-chuyen btn-green-hover">CREATE NEW</button></a>
            </div>
            <!--Table-->
            <div class="table-section">
                <table id="DT_load_anamnesis" class="table table-striped table-bordered table-hover" width="100%" data-animate-effect="fadeInLeft">
                    <thead data-animate-effect="fadeInLeft">
                        <tr>
                            <th>Anaphylaxis</th>
                            <th>Low Immunity</th>
                            <th>Acute Illness</th>
                            <th>Allergy</th>
                            <th>Older</th>
                            <th>Pregnancy</th>
                            <th>Blood Disorder</th>
                            <th>Use Inhibition</th>
                            <th>Develop Chronic</th>
                            <th>Cured Chronic</th>
                            <th>Vaccineed Half Month</th>
                            <th>Covid Six Months</th>
                            <th>
                            </th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>