@model VaccineManagement.Models.Entities.Batch_City

@{
    Layout = "_CRUDLayout";
}

<div id="fh5co-main">
    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="fh5co-header">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">DISTRIBUTION</h2>
            <div class="fh5co-heading-search">
                <i class="fas fa-search"></i>
                <input class="fh5co-heading-search-put animate-box" type="text" placeholder="Search" data-animate-effect="fadeInLeft">
            </div>
        </div>
    </div>
</div>
<!--Main Section-->
<div id="fh5co-main">
    <div class="fh5co-head-create-new" data-animate-effect="fadeInLeft">
        <div class="fh5co-head-create" data-animate-effect="fadeInLeft">
            <span>@(Model.batchId !=0 ? "Edit" : "Create New")</span>
            <span class="fh5co-head-create-desc">@(Model.batchId !=0 ? "Please edit your distribution information !!" : "Please enter new distribution !!")</span>
        </div>
        <form method="post" class="fh5co-body-create" data-animate-effect="fadeInLeft">
            <div class="fh5co-body-create-line-and-vaccine">
                <div class="fh5co-body-create-line">

                </div>
                <div class="fh5co-body-create-vaccine" data-animate-effect="fadeInLeft">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="fh5co-body-create-row" data-animate-effect="fadeInLeft">
                        <span>City</span>
                        <div>
                            <select asp-for="cityId" class="fh5co-body-edit-item-select vaccine-registration-vaccination-sl" asp-items="ViewBag.cityId" required></select>
                            <span asp-validation-for="cityId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="fh5co-body-create-row" data-animate-effect="fadeInLeft">
                        <span>Vaccine Batch</span>
                        <div>
                            <select asp-for="batchId" class="fh5co-body-edit-item-select vaccine-registration-vaccination-sl" asp-items="ViewBag.batchId" required></select>
                            <span asp-validation-for="batchId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="fh5co-body-create-row" data-animate-effect="fadeInLeft">
                        <span>Quantity</span>
                        <div class="fh5co-body-create-item">
                            <input asp-for="quantityVaccine" type="number" placeholder="Edit number" value="" min="0">
                            <span asp-validation-for="quantityVaccine" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="fh5co-body-create-row" data-animate-effect="fadeInLeft">
                        <span>ShippedDate</span>
                        <div class="fh5co-body-create-item">
                            <input asp-for="shippedDate" type="date" placeholder="Edit date" value="">
                            <span asp-validation-for="shippedDate" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>


            <div class="fh5co-body-create-btn">
                <button class="btn-green-hover">@(Model.batchId !=0 ? "Edit" : "Create" )</button>
                <button type="button" class="fh5co-body-create-btn-cancel btn-white-hover"><a asp-action="Index" asp-controller="Distribution">Back</a></button>
            </div>
            <div class="fh5co-body-create-backlist lead-2">
            </div>

        </form>
    </div>


</div>

